/* CSS declarations go here */

body {
  font-family: monospace;
}

td {
  padding: 0.5em;
}

td[contenteditable] {
  border-radius: 5px;
}

.modified td[contenteditable], tr.insert td[contenteditable] {
  background-color: silver;
}
